<nav class="navbar navbar-expand-lg" id="navPrimary">
  <div class="container-fluid">
    <a class="navbar-brand">{{ name }}</a>
    <button class="hamburger" (click)="toggleNavbar()" [ngClass]="{'active': hamburgerActive}" type="button">
      <span class="line"></span> 
      <span class="line"></span> 
    </button>
    <div [ngClass]="{'open': isNavbarOpen}" class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li *ngFor="let navItem of navItems" class="nav-item">
          <a class="nav-link" (click)="routeTo(navItem.link); toggleNavbar();">{{ navItem.text }}</a>
        </li>
      </ul>
      
      <ul class="navbar-langselect">
        <li class="nav-item dropdown">
          <a class="nav-lang dropdown-toggle" (click)="toggleLangSelector()" role="button"  >
            {{ actLang }}
          </a>

          <ul class="dropdown-menu" [ngClass]="{'show': !langSelectorCollapse}">
            <li *ngFor="let lang of langSelection">
              <a (click)="langChange(lang); toggleNavbar()" class="dropdown-item">
                {{ lang.text }}
              </a>
            </li>
          </ul>
          
        </li>
      </ul>
      
    </div>
  </div>
</nav>
