<div *ngIf="!isLanguagesLoaded">
  <p>Loading...</p>
</div>

<div class="container" *ngIf="isLanguagesLoaded">
    <h2>{{adminTitle1}}</h2>
  
    <div *ngFor="let n of adminAddList" class="col create">
      <ng-container *ngIf="n.type == 'textarea'; else simainput">
        <label>{{ n.text }}</label>
        <textarea [(ngModel)]="newProduct[n.key]" class="form-control" rows="3"></textarea>
      </ng-container>
      <ng-template #simainput>
        <label>{{ n.text }}</label>
        <input [(ngModel)]="newProduct[n.key]" [type]="n.type" class="form-control">
      </ng-template>
    </div>
  
    <button (click)="createProduct()" class="btn btn-primary mt-3">{{createButton}}</button>
  
    <h3 class="mt-3">{{adminTitle2}}</h3>
    <table class="table" >
      <thead>
        <tr >
          <th *ngFor="let header of adminList">{{ header.text }}</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          

          <td><input type="text" [(ngModel)]="product.name" class="form-control"></td>

          <td><input type="text" [(ngModel)]="product.category" class="form-control"></td>
          <td><textarea rows="2" [(ngModel)]="product.description" class="form-control" ></textarea></td>
          <td><input type="number" [(ngModel)]="product.price" class="form-control"></td>
          <td>
            <button (click)="updateProduct(product)" class="btn btn-info m-2">{{editButton}}</button>
            <button (click)="deleteProduct(product)" class="btn btn-danger">{{deleteButton}}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  