.card {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    padding: 30px;
    margin-bottom: 20px;
    border: 1px color(grey);
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 300px;
    height: 420px;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    background-position: bottom;
    display: flex;
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}

.card .category {   
    bottom: 0;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
}

.categ {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}
